body {
    background: #121212;
    color: white;
}
.secret {
    color: #121212;
}

.paragraphe {
    display:flex;
    margin: 20%;
}

button.changementducssmn {
    font-size: 1.55em;
    border-style:none;
    background-color: violet;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: transform 0.2s ease;
    cursor: pointer;
}

button.changementducssmn:hover {
    font-size: 1.55em;
    background-color:violet;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    transform: scale(1.35);
    cursor: pointer;
}


.image1 {
    display: none;
}

.image_mode_sombre {
    display: block;
    transition: transform 0.2s ease;
}


.image_mode_sombre:hover {
    display: block;
    transition: scale(1.35);
}


header {
    width: 100%;
    background-color:violet;
    display:flex;
    align-items: center;
    height: 89px;
}