body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
}

h2 {
    text-align: center;
}

p {
  font-weight: bold;
  font-size: 1.5em;
}


img {
    max-width: 10%; 
    height: auto;
    box-shadow: 0px 0px 50px;
}

.image1:hover {
    max-width: 14%; 
    height: auto;
    box-shadow: 0px 0px 50px;    
}

.headbar {
    font-size: 1.55em;
    color:#ffffff;
    text-decoration: none;
    margin: 2%;
}

.headbar:hover {
    font-size: 1.75em;
    color:#ffffff;
    text-decoration: none;
    margin: 2%;
}

header {
    width: 100%;
    background-color: #e90d0d;
    display:flex;
    align-items: center;

}

.left {
    display:flex;
    width:20%;
    margin: 2%;

}

.mid {
    display:flex;
    width: 40%;
}

section {
    margin: 3%;
}
.right {
    justify-content: space-around;
    display: flex;
    width: 40%;
    flex-direction: row;
}

.paragraphe {
    display:flex;
    margin: 15%;
}

.globale {
    display: flex;
}

.liensite {
    font-size: 1em ;
    color: palevioletred;
    margin: 2%;
}


footer {
    margin: 3%;
}

.secret {
    color: white;
    text-decoration: none;
}