body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
}

h2 {
    text-align: center;
}

p {
  font-weight: bold;
  font-size: 1.5em;
}


img {
    max-width: 10%; 
    height: auto;
    box-shadow: 0px 0px 50px;
    transition: transform 0.2s ease;
}

.image1:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 50px;    
}

.headbar {
    font-size: 1.55em;
    color:#ffffff;
    text-decoration: none;
    margin: 1%;
    transition: transform 0.2s ease;
}

.headbar:hover {
    transform: scale(1.03);
    color:#ffffff;
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #e90d0d;
    display:flex;
    align-items: center;
    height: 100px;
}

.left {
    display:flex;
    width:20%;
    margin: 2%;

}

button.changementducssmn {
    font-size: 1.55em;
    border-style:none;
    background-color: #e90d0d;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: transform 0.2s ease;
}

button.changementducssmn:hover {
    font-size: 1.55em;
    background-color: #e90d0d;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    transform: scale(1.03);
}


.mid {
    display:flex;
    width: 40%;
}

section {
    margin: 3%;
}
.right {
    justify-content: space-around;
    display: flex;
    width: 40%;
    flex-direction: row;
}

.paragraphe {
    display:flex;
    margin: 15%;
}

.globale {
    display: flex;
}

.liensite {
    font-size: 1em ;
    color: palevioletred;
    margin: 2%;
}


footer {
    margin: 3%;
}

.secret {
    color: white;
    text-decoration: none;
}